dist: trusty

language: php

branches:
  only:
    - master
    - /^[0-9]+\.[0-9]+$/
    - /^[0-9]+\.[0-9]+\.[0-9]+$/

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 7.2
  - 7.3

before_install:
  - composer self-update

install:
  - composer install

script:
  - vendor/bin/phpunit --coverage-clover=build/logs/clover.xml

after_script:
  - travis_retry php vendor/bin/php-coveralls
