parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\ViewHelper\\\\ViewHelperInterface\\:\\:isChildrenEscapingEnabled\\(\\)\\.$#"
			count: 1
			path: src/Core/Parser/Interceptor/Escape.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\ViewHelper\\\\ViewHelperInterface\\:\\:isOutputEscapingEnabled\\(\\)\\.$#"
			count: 1
			path: src/Core/Parser/Interceptor/Escape.php

		-
			message: "#^Binary operation \"\\+\" between non\\-empty\\-string and 0 results in an error\\.$#"
			count: 1
			path: src/Core/Parser/TemplateParser.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\ViewHelper\\\\ViewHelperInterface\\:\\:isChildrenEscapingEnabled\\(\\)\\.$#"
			count: 1
			path: src/Core/Parser/TemplateParser.php

		-
			message: "#^Property TYPO3Fluid\\\\Fluid\\\\Core\\\\Rendering\\\\RenderingContext\\:\\:\\$errorHandler \\(TYPO3Fluid\\\\Fluid\\\\Core\\\\ErrorHandler\\\\ErrorHandlerInterface\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: src/Core/Rendering/RenderingContext.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: src/Core/ViewHelper/AbstractConditionViewHelper.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: src/Core/ViewHelper/AbstractViewHelper.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string and false will always evaluate to false\\.$#"
			count: 1
			path: src/Core/ViewHelper/ViewHelperResolver.php

		-
			message: "#^Variable \\$iterationData might not be defined\\.$#"
			count: 1
			path: src/ViewHelpers/ForViewHelper.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Functional/ViewHelpers/StaticCacheable/NotSharedStaticCompilableViewHelperTest.php
