parameters:
	ignoreErrors:
		-
			message: '#^Binary operation "\+" between non\-empty\-string and 0 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Core/Parser/TemplateParser.php

		-
			message: '#^Call to an undefined method TYPO3Fluid\\Fluid\\Core\\Parser\\SyntaxTree\\NodeInterface\:\:getArguments\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: src/Core/Parser/TemplateParser.php

		-
			message: '#^Call to an undefined method TYPO3Fluid\\Fluid\\Core\\Parser\\SyntaxTree\\NodeInterface\:\:getUninitializedViewHelper\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Core/Parser/TemplateParser.php

		-
			message: '#^Call to an undefined method TYPO3Fluid\\Fluid\\Core\\Parser\\SyntaxTree\\NodeInterface\:\:getViewHelperClassName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Core/Parser/TemplateParser.php

		-
			message: '#^Method TYPO3Fluid\\Fluid\\Core\\Parser\\TemplateParser\:\:initializeViewHelperAndAddItToStack\(\) should return TYPO3Fluid\\Fluid\\Core\\Parser\\SyntaxTree\\ViewHelperNode\|null but returns TYPO3Fluid\\Fluid\\Core\\Parser\\SyntaxTree\\NodeInterface\.$#'
			identifier: return.type
			count: 1
			path: src/Core/Parser/TemplateParser.php

		-
			message: '#^Strict comparison using \!\=\= between string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Core/Variables/JSONVariableProvider.php

		-
			message: '#^Call to TYPO3Fluid\\Fluid\\Core\\ViewHelper\\AbstractViewHelper\:\:handleAdditionalArguments\(\) on a separate line has no effect\.$#'
			identifier: staticMethod.resultUnused
			count: 1
			path: src/Core/ViewHelper/AbstractTagBasedViewHelper.php

		-
			message: '#^Call to TYPO3Fluid\\Fluid\\Core\\ViewHelper\\AbstractViewHelper\:\:initialize\(\) on a separate line has no effect\.$#'
			identifier: staticMethod.resultUnused
			count: 1
			path: src/Core/ViewHelper/AbstractTagBasedViewHelper.php

		-
			message: '#^Method TYPO3Fluid\\Fluid\\Core\\ViewHelper\\AbstractViewHelper\:\:handleAdditionalArguments\(\) has TYPO3Fluid\\Fluid\\Core\\ViewHelper\\Exception in PHPDoc @throws tag but it''s not thrown\.$#'
			identifier: throws.unusedType
			count: 1
			path: src/Core/ViewHelper/AbstractViewHelper.php

		-
			message: '#^Parameter \#1 \$array of function array_unique expects an array of values castable to string, array\<array\<string\>\|string\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/View/TemplatePaths.php

		-
			message: '#^Variable \$iterationData might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/ViewHelpers/ForViewHelper.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: tests/Functional/ViewHelpers/StaticCacheable/NotSharedStaticCompilableViewHelperTest.php

		-
			message: '#^Call to TYPO3Fluid\\Fluid\\Core\\ViewHelper\\AbstractViewHelper\:\:handleAdditionalArguments\(\) on a separate line has no effect\.$#'
			identifier: staticMethod.resultUnused
			count: 1
			path: tests/Unit/Core/Fixtures/TestViewHelper.php
