parameters:
	ignoreErrors:
		-
			message: "#^Method TYPO3Fluid\\\\Fluid\\\\Core\\\\Compiler\\\\TemplateCompiler\\:\\:get\\(\\) should return TYPO3Fluid\\\\Fluid\\\\Core\\\\Parser\\\\ParsedTemplateInterface but returns TYPO3Fluid\\\\Fluid\\\\Core\\\\Compiler\\\\UncompilableTemplateInterface\\.$#"
			count: 1
			path: src/Core/Compiler/TemplateCompiler.php

		-
			message: "#^Property TYPO3Fluid\\\\Fluid\\\\Core\\\\Compiler\\\\TemplateCompiler\\:\\:\\$currentlyProcessingState \\(TYPO3Fluid\\\\Fluid\\\\Core\\\\Parser\\\\ParsedTemplateInterface\\) does not accept null\\.$#"
			count: 1
			path: src/Core/Compiler/TemplateCompiler.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Core/Compiler/ViewHelperCompiler.php

		-
			message: "#^Method TYPO3Fluid\\\\Fluid\\\\Core\\\\ErrorHandler\\\\StandardErrorHandler\\:\\:handleCompilerError\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: src/Core/ErrorHandler/StandardErrorHandler.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\ViewHelper\\\\ViewHelperInterface\\:\\:isChildrenEscapingEnabled\\(\\)\\.$#"
			count: 1
			path: src/Core/Parser/Interceptor/Escape.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\ViewHelper\\\\ViewHelperInterface\\:\\:isOutputEscapingEnabled\\(\\)\\.$#"
			count: 1
			path: src/Core/Parser/Interceptor/Escape.php

		-
			message: "#^PHPDoc tag @param for parameter \\$rootNode with type TYPO3Fluid\\\\Fluid\\\\Core\\\\Parser\\\\SyntaxTree\\\\NodeInterface is not subtype of native type TYPO3Fluid\\\\Fluid\\\\Core\\\\Parser\\\\SyntaxTree\\\\RootNode\\.$#"
			count: 1
			path: src/Core/Parser/ParsingState.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\ViewHelper\\\\ViewHelperInterface\\:\\:setViewHelperNode\\(\\)\\.$#"
			count: 1
			path: src/Core/Parser/SyntaxTree/ViewHelperNode.php

		-
			message: "#^Binary operation \"\\+\" between non\\-empty\\-string and 0 results in an error\\.$#"
			count: 1
			path: src/Core/Parser/TemplateParser.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\Parser\\\\ParsedTemplateInterface\\:\\:setCompilable\\(\\)\\.$#"
			count: 1
			path: src/Core/Parser/TemplateParser.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\ViewHelper\\\\ViewHelperInterface\\:\\:getContentArgumentName\\(\\)\\.$#"
			count: 1
			path: src/Core/Parser/TemplateParser.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\ViewHelper\\\\ViewHelperInterface\\:\\:isChildrenEscapingEnabled\\(\\)\\.$#"
			count: 1
			path: src/Core/Parser/TemplateParser.php

		-
			message: "#^Property TYPO3Fluid\\\\Fluid\\\\Core\\\\Rendering\\\\RenderingContext\\:\\:\\$errorHandler \\(TYPO3Fluid\\\\Fluid\\\\Core\\\\ErrorHandler\\\\ErrorHandlerInterface\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: src/Core/Rendering/RenderingContext.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: src/Core/ViewHelper/AbstractConditionViewHelper.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: src/Core/ViewHelper/AbstractViewHelper.php

		-
			message: "#^Strict comparison using \\=\\=\\= between array\\|string and null will always evaluate to false\\.$#"
			count: 1
			path: src/Core/ViewHelper/ViewHelperResolver.php

		-
			message: "#^Strict comparison using \\=\\=\\= between class\\-string and false will always evaluate to false\\.$#"
			count: 1
			path: src/Core/ViewHelper/ViewHelperResolver.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Core/ViewHelper/ViewHelperVariableContainer.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Core/ViewHelper/ViewHelperVariableContainer.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\View\\\\ViewInterface\\:\\:getRenderingContext\\(\\)\\.$#"
			count: 2
			path: src/Tools/ConsoleRunner.php

		-
			message: "#^Variable \\$iterationData might not be defined\\.$#"
			count: 1
			path: src/ViewHelpers/ForViewHelper.php

		-
			message: "#^Method TYPO3Fluid\\\\Fluid\\\\ViewHelpers\\\\Format\\\\HtmlspecialcharsViewHelper\\:\\:render\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: src/ViewHelpers/Format/HtmlspecialcharsViewHelper.php

		-
			message: "#^Call to method getRenderingContext\\(\\) on an unknown class TYPO3Fluid\\\\Fluid\\\\Tests\\\\Functional\\\\Core\\\\ViewHelper\\\\Traits\\\\TemplateView\\.$#"
			count: 6
			path: tests/Functional/Core/ViewHelper/Traits/CompileWithContentArgumentAndRenderStaticTest.php

		-
			message: "#^Call to method render\\(\\) on an unknown class TYPO3Fluid\\\\Fluid\\\\Tests\\\\Functional\\\\Core\\\\ViewHelper\\\\Traits\\\\TemplateView\\.$#"
			count: 2
			path: tests/Functional/Core/ViewHelper/Traits/CompileWithContentArgumentAndRenderStaticTest.php

		-
			message: "#^Instantiated class TYPO3Fluid\\\\Fluid\\\\Tests\\\\Functional\\\\Core\\\\ViewHelper\\\\Traits\\\\TemplateView not found\\.$#"
			count: 2
			path: tests/Functional/Core/ViewHelper/Traits/CompileWithContentArgumentAndRenderStaticTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with TYPO3Fluid\\\\Fluid\\\\Tests\\\\Functional\\\\Fixtures\\\\Various\\\\UserWithoutToString and string will always evaluate to false\\.$#"
			count: 1
			path: tests/Functional/ViewHelpers/Format/HtmlspecialcharsViewHelperTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: tests/Functional/ViewHelpers/StaticCacheable/NotSharedStaticCompilableViewHelperTest.php
