<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="false">

        <testsuites>
                <testsuite name="TYPO3.Fluid Unit">
                        <directory>tests/Unit</directory>
                </testsuite>
                <testsuite name="TYPO3.Fluid Functional">
                        <directory>tests/Functional</directory>
                </testsuite>
        </testsuites>
        <filter>
                <whitelist>
                        <directory>src/</directory>
                </whitelist>
        </filter>
</phpunit>
