<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Fluid Autocompletion Generation Wizard</title>
<style type="text/css">
body {
	font-family:Arial, Helvetica, sans-serif;
	background-color:#F1F1F1;

}
h2 {
	text-align:center;
	color:white;
	font-weight:normal;
	padding-top:15px;
	background-color:#414141;
}
.box {
	background-color:#B9B9B9;
	width:800px;
	margin:auto;
}
.content {
	padding-left:10px;
	padding-right:10px;
}
</style>
</head>
<body>
<div class="box">
	<h2>Fluid Autocompletion Generation Wizard</h2>
	<h2>Step 2<span style="color:#919191">/2</span></h2>
	<p class="content">
	The path to the XSD file is: <b><a href="{xsdPath}">{view.request.baseUri}{xsdPath}</a></b>. Please use the following snippet
	for autocompletion:
	<pre>
&lt;?xml version="1.0"?&gt;
&lt;html xmlns="http://typo3.org/ns/html-base"
	xmlns:xsi="http://typo3.org/ns/html-base"
	xmlns:{namespacePrefix}="{namespaceUri}"
	xsi:schemaLocation="http://typo3.org/ns/html-base
		{view.request.baseUri}Resources/Packages/Fluid/html-base.xsd
		{namespaceUri}
		{view.request.baseUri}{xsdPath}"&gt;
	&lt;!-- Your content goes here --&gt;
&lt;/html&gt;
	</pre>
	<h2>Have fun!</h2>
</div>
</body>
</html>